body{
  margin: 0;
  padding: 0;
}

.col-md-10{
  height: 100%;
}



.sidebar {
    background-color: #004170;
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
  
  /*Sidebar links */
.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    font-weight: 900;
  }

  /*TEXTO P*/
  p{
    font-weight: bold;
  }

  /* Active/current link */
.sidebar a.active {
    background-color: #FCBF00;
    color: #004170;
    font-weight: bold;
  }

.btn-primary {
  background-color: #004170 !important;
}

  /*LABELS*/

  label{
    font-weight: bold;
  }

  /*ICONS*/
.sidebar a i {
    margin-right: 10px;
}
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #FCBF00;
    color: #004170;
  }

/*CARDS*/
.card{
  margin-top: 2em;
  margin-bottom: 2em;
  border-color: #004170;  
}
.card-header{
  background-color: #FCBF00  ;
  font-weight: bold;
  text-align: center;
  border-color: #004170;
}

/*TABLAS*/
thead{
  background-color: #FCBF00;
}

tr{
  text-align: center;
}

td{
  text-align: center;
}

/*BOTONES*/
.btn{
  border-radius: 10px;
  font-weight: bold;
}

/*@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.container-fluid {margin-left: 0;}
}*/

/*@media screen and (max-width: 400px) {
  .sidebar  {
    text-align: center;
    color: aqua;
  }
}*/
