
.container{
    height: 100%;
    align-content: center;
}

.col-md-8{
    background: url("https://media.metrolatam.com/2019/04/12/utpl-c0493822f8df085cfff21e04736e6f1e-1200x600.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
}


.col-md-6 a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: black;
}

.col-md-6 a.active {
    background-color: #004170;
    color: white;
    text-decoration: none;
  }
  
#btnIngresar1{
    width: 100%;
    background-color: #004170;
}


