<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <title>DOCENTES</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" >
                <div class="sidebar">
                    <a href="index"><i class="fas fa-home"></i>Inicio</a>
                    <a href="preguntas"><i class="fas fa-list-alt"></i>Preguntas</a>
                    <a class="active" href="docente"><i class="fas fa-chalkboard-teacher"></i>Docentes</a>
                    <a href="alumnos"><i class="fas fa-child"></i>Alumnos</a>
                    <a href="carreras"><i class="fas fa-edit"></i>Carreras</a>
                    <a href="materias"><i class="far fa-file-alt"></i>Materias</a>
                  </div>
            </div>
            <div class="col-md-10" >
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-wrapper">
                            <div class="row">
                                <div class="col-8">
                                    <h1>Lista de Docentes</h1>
                                </div>
                            </div>
                            <table class="table table-bordered table-striped">
                                <thead style="background-color: #FCBF00;  ">
                                    <tr>
                                        <th>N°</th>
                                        <th>Cedula</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Password</th>
                                        <th>Correo</th>
                                        <th colspan="2">Acción</th>  
                                    </tr>
                                    <tbody id="tabla_docente">
                                     
                                    </tbody>
                                </thead>
                            </table>
                        
                        </div>
                    </div>

                </div> 
            </div>
        </div>  

        <div class="modal fade" id="modal_Docente" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Actualizar</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="formNotificacion" action="/updateDocente" method="POST">
              
                        <div class="row mt-4 mb-4">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input name="cedula" type="text" id="cedula" placeholder="Cedula" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input name="nombre" type="text" id="nombre" placeholder="Nombre"  class="form-control">
                                </div>
                                <div class="form-group">
                                    <input name="apellido" type="text" id="apellido" placeholder="Apellido" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input name="clave" type="text" id="clave" placeholder="Password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input name="correoUTPL" type="email" id="correoUTPL" placeholder="Correo" class="form-control">
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="btnRegistrar" class="btn btn-success">Registrar</button>
                    </form>
                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="js/js.js"></script>
</body>

</html>