<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/login.css">

    <title>LOGIN USUARIO</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8"></div>
            <br><br>
            <div class="col-md-4">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-md-10 login-sec">
                        <h2 class="text-center">UTPL</h2>
                        <br>
                        <hr>
                        <div class="row">
							<div class="col-md-6">
								<a href="#" class="active" id="login-form-link">Iniciar sesión</a>
							</div>
							<div class="col-md-6">
								<a href="#" class="active" id="register-form-link">Regístrate ahora</a>
							</div>
						</div>
						<hr>

                        <form id="login-form" action="/ingresar" method="POST" class="login-form">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="text-uppercase">Username</label>
                                 <input required   name="correo" id="correoUTPL" type="email" class="form-control" placeholder="" >
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                                <input required   name="clave" id="clave" type="password" class="form-control" placeholder="">
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input">
                                    <small>Remember Me</small>
                                </label>
                                
                                <button  id="btnRegistrar" class="btn btn-primary float-right" type="submit">Submit</button>
                            </div> 
                        </form>



                        <form id="register-form" class="register-form" action="/docente" method="POST"  style="display: none;">
                            
                            <div class="form-group">
                                <input name="cedula" type="text" id="cedula" class="form-control" placeholder="Cedula" >
                               
                            </div>
                            <div class="form-group">
                                <input name="nombre" type="text" id="nombre" class="form-control" placeholder="Nombre" >
                               
                            </div>
                            
                             <div class="form-group">
                                <input name="apellido" type="text" id="apellido" class="form-control" placeholder="Apellido" >
                               
                            </div>

                            <div class="form-group">
                                <input name="correo" id="correoUTPL" type="email" class="form-control" placeholder="Correo electronico" >
                                
                            </div>

                            <div class="form-group">
                                <input name="clave" id="clave" type="password" class="form-control" placeholder="Contraseña">
                            </div>
                            
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                    	
                                        <button id="btnRegistrar" class="btn btn-primary float-right" type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>





                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="js/login.js"></script>
</body>

</html>