<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <title>Gestor de Preguntas</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <br>
            <br>
            <div class="col-md-2">
                <div class="sidebar">
                    <a href="index"><i class="fas fa-home"></i>Inicio</a>
                    <a class="active" href="preguntas"><i class="fas fa-list-alt"></i>Preguntas</a>
                    <a href="docente"><i class="fas fa-chalkboard-teacher"></i>Docentes</a>
                    <a href="alumnos"><i class="fas fa-child"></i>Alumnos</a>
                    <a href="carreras"><i class="fas fa-edit"></i>Carreras</a>
                    <a href="materias"><i class="far fa-file-alt"></i>Materias</a>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="card-header " style="background-color: #FCBF00 ;">Filtre sus consulta</div>
                            <div class="card-body">
                                
                                

                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="">Área</label>
                                            <select onchange="control()" name="area" id="area" class="form-control"></select>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Carrera</label>
                                            <select onchange="controlMateria()" name="carrera" id="carrera" class="form-control"></select>
                                        </div>
    
                                        <div class="form-group">
                                            <label for="">Materia</label>
                                            <select name="materia" id="materia" class="form-control"></select>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <button style="background-color:#004170 ;" class="btn btn-success" onclick="consultarPreguntas()">Consultar</button>
                                    </div>
                                    <br><br>

                                    <div class="col-md-12">
                                        <div class="table-wrapper">
                                            <table class="table table-bordered table-striped">
                                                <thead style="background-color: #FCBF00;  ">
                                                    <tr style="text-align: center;">
                                                        <!-- <th>N°</th> -->
                                                        <th>Preguntas</th>
                                                        <th colspan="3" >Respuestas</th>
                                                        <th>Respuesta correcta</th>                                                                   
                                                    </tr>
                                                <tbody id="tabla_preguntasMuestra">

                                                </tbody>
                                                </thead>
                                            </table>

                                        </div>
                                    </div>

                                   
                         
                                   
                               
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_Preguntas" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Actualizar</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="formNotificacion" action="/updatePregunta" method="POST">
              
                        <div class="row mt-4 mb-4">
                            <div class="col-sm-12">



                                 <div class="form-group">
                                        <select onchange="control()" name="area" id="area" class="form-control">

                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select onchange="controlMateria()" name="carrera" id="carrera"
                                            class="form-control">

                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <select name="materia" id="materia" class="form-control">

                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <select name="docente" id="docente" class="form-control">

                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <input name="pregunta" type="text" id="pregunta" placeholder="Pregunta"
                                            class="form-control"><br>
                                        <p>Coloque aqui las posibles respuestas y marque la correcta</p><br>

                                        <div class="row ">
                                            <div class="col-2 ">
                                                <input name="res1" type="text" id="re1" placeholder="Opción 1"
                                                    class="form-control">
                                            </div>
                                            <div class="col-1 d-flex align-items-center justify-content-start">
                                                <input class="float-left" type="radio" name="optradio" checked>
                                            </div>
                                        </div>

                                        <div class="row ">
                                            <div class="col-2 ">
                                                <input name="res2" type="text" id="res2" placeholder="Opción 2"
                                                    class="form-control">
                                            </div>
                                            <div class="col-1 d-flex align-items-center justify-content-start">
                                                <input class="float-left" type="radio" name="optradio" checked>
                                            </div>
                                        </div>

                                        <div class="row ">
                                            <div class="col-2 ">
                                                <input name="res3" type="text" id="res3" placeholder="Opción 3"
                                                    class="form-control">
                                            </div>
                                            <div class="col-1 d-flex align-items-center justify-content-start">
                                                <input class="float-left" type="radio" name="optradio" checked>
                                            </div>
                                        </div>


                            </div>
                        </div>
                        <button type="submit" id="btnRegistrar" class="btn btn-success">Registrar</button>
                    </form>
                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>








    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="js/js.js"></script>
</body>

</html>